@{
  Layout = "_Layout";
}
@model BestRestaurants.Models.Restaurant

<h2>Add a new restaurant</h2>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Location)
    @Html.TextBoxFor(model => model.Location, new { @class = "form-control"})
  </div>
  <div class="form-group">
    <label for="AvgMealCost">Average Meal Cost</label>
    @Html.TextBoxFor(model => model.AvgMealCost, new { @class = "form-control"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")
  </div>
  <input type="submit" value="Add new restaurant" />
}

<p>@Html.ActionLink("Show all restaurants", "Index")</p>