@{
  Layout = "_Layout";
}
@model BestRestaurants.Models.Restaurant

<h2>Restaurant Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>

@if (Model.JoinEntities.Count == 0)
{
  <p>This restaurant is not yet associated with a cuisine. Click Add Cuisine bellow.</p>
}
else
{
  <h4>Cuisines this restaurant serves</h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Cuisine.Name</li>
    }
  </ul>
}

<p>@Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(model => model.Location)</p>
<p>@Html.DisplayNameFor(model => model.AvgMealCost): $@Html.DisplayFor(model => model.AvgMealCost)</p>

<button class="btn btn-outline-primary">@Html.ActionLink("Delete", "Delete", new {id = Model.RestaurantId})</button>
<button class="btn btn-outline-primary">@Html.ActionLink("Edit", "Edit", new {id = Model.RestaurantId})</button>
<button class="btn btn-outline-primary">@Html.ActionLink("Back", "Index")</button>